/.vs
/packages
/ProjetoPadrao.ApplicationService/bin
/ProjetoPadrao.ApplicationService/obj
/ProjetoPadrao.ApplicationService/ProjetoPadrao.ApplicationService.csproj.user
/ProjetoPadrao.Domain/bin
/ProjetoPadrao.Domain/obj
/ProjetoPadrao.Domain/ProjetoPadrao.Domain.csproj.user
/ProjetoPadrao.MVC/bin
/ProjetoPadrao.MVC/obj
/ProjetoPadrao.MVC/Deploy
/ProjetoPadrao.MVC/ProjetoPadrao.MVC.csproj.user
/ProjetoPadrao.MVC/Properties/PublishProfiles/*.user
/ProjetoPadrao.Repository/bin
/ProjetoPadrao.Repository/obj
/ProjetoPadrao.Repository/ProjetoPadrao.Repository.csproj.user
/ProjetoPadrao.WebService/bin
/ProjetoPadrao.WebService/obj
/ProjetoPadrao.WebService/Deploy
/ProjetoPadrao.WebService/ProjetoPadrao.WebService.csproj.user
/ProjetoPadrao.WebService/Properties/PublishProfiles/*.user
/ProjetoPadrao.WindowsService/bin
/ProjetoPadrao.WindowsService/obj
ProjetoPadrao.v12.suo
/ProjetoPadrao.WindowsService/Logs
/ProjetoPadrao.WebService/Logs
/ProjetoPadrao.MVC/Logs
/ProjetoPadrao.WebApi/bin
/ProjetoPadrao.WebApi/obj
/ProjetoPadrao.CrossCutting.Commons/bin
/ProjetoPadrao.CrossCutting.Commons/obj
